<template>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="pt-3">Add Category</h3>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-3"></div>
            <div class="col-6 border-category">
                <form>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="categoryName">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea type="text" class="form-control" v-model="description" />
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <input type="text" class="form-control" v-model="imageUrl" />
                    </div>
                    <button type="button" class="btn btn-primary" @click="addCategory">Submit </button>
                </form>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
const sweetAlert = require('sweetalert')
export default {
    data() {
        return {
            categoryName: '',
            description: '',
            imageUrl: '', 
        }
    },
    methods: {
        addCategory() {
            const newCategory = {
                categoryName: this.categoryName,
                description: this.description,
                imageUrl: this.imageUrl
            };

            const baseURL = "https://limitless-lake-55070.herokuapp.com"

            axios({
                method: 'post',
                url: `${baseURL}/category/create`,
                data: JSON.stringify(newCategory),
                headers: {
                    'Content-Type': 'application/json',
                }
            }).then(()=>{
                sweetAlert({
                    text: 'Category added successfully',
                    icon: 'success',
                })
            }).catch(err => {
                console.log(err);
            })
        }
    }
}
</script>
<style>
.border-category {
    border-left: 1px dashed black;
    border-right: 1px dashed black;
}
</style>