<template>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="pt-3">Product List by Category - {{ category.categoryName }}</h4>
                <h5 class="product-found-message">{{ msg }}</h5>
            </div>
        </div>
        <div class="row">
            <div v-for="product in category.products" :key="product.id" class="col-md-6 col-xl-4 col-12 pt-3 justify-content-around d-flex">
                <ProductBox :product="product"></ProductBox>
            </div>
        </div>
    </div>
</template>
<script>
import ProductBox from '@/components/ProductBox.vue';
export default {
    components: {ProductBox},
    data() {
        return {
            id: null,
            category: {},
            msg: ''
        }
    },
    props: ['categories',],
    mounted() {
        this.id = this.$route.params.id,
        this.category = this.categories.find(category => category.id == this.id)
        
        const sizeProduct = this.category.products.length
        if (sizeProduct == 0) {
            this.msg = 'No product found'
        }else if(sizeProduct == 1){
           this.msg = 'Only 1 product found' 
        }else {
            this.msg = sizeProduct + ' products found'
        }
    }
}
</script>
<style>
.product-found-message {
    font-weight: 300;
    color: #686868;
}
</style>
