<template>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="pt-3">Our Category</h3>
                <router-link :to="{name : 'AddCategory'}">
                    <button class="btn btn-add-category">Add Category</button>
                </router-link>
            </div>
            <div class="row">
                <div v-for="category in categories" :key="category.id" 
                class="col-xl-4 col-md-6 col-12 pt-3 d-flex">
                    <CategoryBox :category="category" />
                </div>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</template>
<script>
import CategoryBox from '../../components/Category/CategoryBox.vue';
export default {
    props: ['categories'],
    components: {
        CategoryBox
    },
    data() {
        return {
            baseURL: 'https://limitless-lake-55070.herokuapp.com',
        }
    },
    methods: {
    },
    mounted() {
    }
}
</script>
<style>
.border-category {
    border-left: 1px dashed black;
    border-right: 1px dashed black;
}
.btn-add-category {
    float:right
}
</style>