<template>
    <div class="container">
        <div class="row">
            <div class="col-12 justify-content-center d-flex pt-3">
                <div id="signin" class="flext-item border">
                    <h2 class="pt-4">
                        Signin
                    </h2>
                    <form @submit="signin" class="form-group pt-4 pl-4 pr-4">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" v-model="email" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" v-model="password" class="form-control" required />
                        </div>
                        <button class="btn btn-primary mt-2 py-2">Continue</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios'
import swal from 'sweetalert'
export default {
    props: ['baseURL'],
    data() {
        return {
            email: null,
            password: null
        }
    },
    methods: {
        async signin(e) {
            e.preventDefault();
            const body = {
                email: this.email,
                password: this.password
            }
            console.log('body',body)
            try {
                const response = await axios.post(`${this.baseURL}/user/signIn`, body)
                const token = response.data.token
                window.location.href = '/'
                localStorage.setItem('accessToken', token);
                swal({
                    text: 'Login successful',
                    icon: 'success'
                })
            }catch(error) {
                console.error('Error Logging in' , error)
            }
        }
    }
}
</script>
<style>
.btn-primary {
    background-color: #f0c14b;
    color: black;
}

@media screen {
    #signin {
        width: 40%;
    }
}
</style>