<template>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="">
                    Edit Product
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <form v-if="product">
                    <div class="form-group">
                        <label>Category</label>
                        <select class="form-control" v-model="product.categoryId" required>
                            <option v-for="category in categories" :key="category.id" :value="category.id">{{
                                category.categoryName }}</option>
                        </select>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" v-model="product.name">
                        </div>
                        <div class="form-group">
                            <label>Image URL</label>
                            <input type="text" class="form-control" v-model="product.description">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" v-model="product.imageURL">
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input type="number" class="form-control" v-model="product.price">
                        </div>
                        <button type="button" class="btn btn-primary" @click="editProduct">
                            Edit Product
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</template>
<script>
import axios from 'axios'
import swal from 'sweetalert'
export default {
    data() {
        return {
            product: null,
            id: null
        }
    },
    props: ['baseURL', 'products', 'categories'],
    mounted() {
        this.id = this.$route.params.id
        this.product = this.products.find(product => product.id == this.id)
    },
    methods: {
        async editProduct() {
            await axios.post(`${this.baseURL}/product/update/${this.id}`,this.product)
                .then(() => {
                    this.$router.push({name: 'Product'})
                    swal({
                        text: 'Product has been updated successfully',
                        icon: 'success'
                    })
                }).catch(err => console.log('err', err))
        }
    }
}
</script>