<template>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h4>Our Products</h4>
                <router-link :to="{name: 'AddProduct'}">
                    <button class="btn btn-add-product">
                        Add Product
                    </button>
                </router-link>
            </div>
        </div>
        <div class="row">
            <div v-for="product in products" :key="product.id" 
            class="col-xl-4 col-md-6 col-12 pt-3 d-flex">
                <ProductBox :product="product" />
            </div>
        </div>
        <div>
        </div>
    </div>
</template>
<script>
import ProductBox from '@/components/ProductBox.vue';
export default {
    props: ['products'],
    components: {
        ProductBox
    }
}
</script>
<style>
.btn-add-product {
    float: right;
}
</style>