<template>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="pt-3">
                    Your Wishlist
                </h4>
            </div>
        </div>
        <div class="row">
            <div v-for="product in products" :key="product.id" class="col-xl-4 col-md-6 col-12 pt-3 justify-content-arround d-flex">
                <ProductBox :product="product"></ProductBox>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
import ProductBox from '@/components/ProductBox.vue';

export default {
    data() {
        return {
            products: [],
            token: null
        }
    },
    components: {
        ProductBox
    },
    props: ['baseURL'],
    methods: {
        fetchWishList() {
            axios.get(`${this.baseURL}/wishlist/${this.token}`)
                .then((data) => {
                    this.products = data.data
                }).catch((err) => {
                    console.log('err', err)
                })
        }
    },
    mounted() {
        this.token = localStorage.getItem('accessToken')
        this.fetchWishList()
    }
}
</script>
<style></style>