<template>
    <div class="card h-100 w-100" style="ma">
        <div class="embed-responsive embed-responsive-16by9">
            <img class="card-img-top embed-responsive-item" :src="product.imageURL" alt="Card image cap">
        </div>
        <div class="card-body">
            <router-link :to="{ name: 'DetailProduct', params: { id: product.id } }">
                <h5 class="card-title">{{ product.name }}</h5>
            </router-link>
            <p class="card-text">{{ descriptionProductFiltered() }}</p>
            <router-link :to="{ name: 'EditProduct', params: { id: product.id } }" v-show="$route.name == 'Product'">
                <a href="#" class="btn btn-primary">Edit</a>
            </router-link>
        </div>
    </div>
</template>
<script>
// import { ref,watch } from 'vue'
export default {
    name: 'ProductBox',
    props: ['product'],
    setup(props) {
        const descriptionProductFiltered = () => {
            if (props.product && typeof props.product.description === 'string') {
                return props.product.description.substring(0, 65)
            }
        }
        return {
            descriptionProductFiltered
        };
    }
}
</script>
<style>
.card-img-top {
    object-fit: cover;
}
a {
    text-decoration: none;
}
.card-title {
    color: #484848
}
</style>