<template>
  <NavigationBar />
  <router-view v-if="categories && products" :baseURL="baseURL" :categories="categories" :products="products" class="body-content">
  </router-view>
  <FooterBar />
</template>

<script>
import axios from 'axios';
import NavigationBar from './components/NavigationBar.vue';
import FooterBar from './components/FooterBar.vue';

export default {
  data() {
    return {
      baseURL: 'https://limitless-lake-55070.herokuapp.com',
      products: null,
      categories: null,
    }
  },
  components: {
    NavigationBar,
    FooterBar
  },
  methods: {
    async fetchData() {
      await axios.get(`${this.baseURL}/category/`)
        .then(res => this.categories = res.data)
        .catch(err => console.log(err))

      await axios.get(`${this.baseURL}/product/`)
        .then(res => this.products = res.data)
        .catch(err => console.log(err))
    }
  },
  mounted() {
    this.fetchData()
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
.container{
  padding-top: 37px;
}
.body-content{
  min-height: 60vh;
}
</style>
